extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
