extends layout

block content
  .main.container.text-center
    h1.display-3 Anaylse Wiki Data
    p.lead Please Login to use
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


