extends layout

block scripts
    script(src='/js/individual.js')
    link(rel='stylesheet', href='/stylesheets/individual.css')

block content
    .main.container.text-center
        .container.col-8.mt-4
            input#titleInput(type='text', onkeyup='searchFunction()', placeholder='Search for titles..')

            .card
                .card-body
                    .table-wrapper-2
                        // Table
                        table#titleTable
                            thead
                                tr.header.bg-primary.text-light
                                    th(style='width:60%;') Title
                                    th(style='width:40%;') Revisions
                            tbody#titleTableBody

        #articleDiv.container.col-8.border.border-warning.my-4

            table.table.table-dark
                caption#topn-users-by-revisions-caption.text-warning Top 5 Users with highest revisions
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') User
                        th(scope='col') Number of revisions
                tbody#topn-users-by-revisions


            canvas#individualBarChart_0(width='400', height='400').mt-5

            canvas#individualPieChart(width='400', height='400').mt-5

            canvas#individualBarChart_1(width='400', height='400').mt-5



