extends layout

block scripts
    script(src='/js/overall.js')
    link(rel='stylesheet', href='/stylesheets/overall.css')


block content
    //- var results = JSON.parse(result)
    .main.container.text-center
        .alert.alert-warning.alertDiv
            strong Warning!
            |  Please input integer greater than 0 and less than 100.
        .container.col-8.border.border-warning
            h2.my-4 Top N Titles with Revisions Analytics
            .form-group.row
                label.col-2.col-form-label(for='topn-revision-input') Top N
                .col-10
                    input#topn-revision-input.form-control(type='number', value='3')



            table.table.table-dark
                caption#topn-high-revision-caption.text-warning Top 3 Titles with highest revisions
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Number of revisions
                tbody#topn-high-revision




            table.table.table-dark
                caption#topn-low-revision-caption.text-warning Top 3 Titles with lowest revisions
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Number of revisions
                tbody#topn-low-revision



        .container.col-8.mt-4.border.border-warning
            h2.my-4 Titles edited by Group Analytics
            //.form-group.row
            //    label.col-2.col-form-label(for='topn-group-input') Top N
            //    .col-10
            //        input#topn-group-input.form-control(type='number', value='3')



            table.table.table-dark
                caption#topn-high-group-caption.text-warning The Title with largest groups
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Number of groups
                tbody#topn-high-group




            table.table.table-dark
                caption#topn-low-group-caption.text-warning The Title with smallest groups
                thead
                    tr
                        th(scope='col') #
                        th(scope='col').text-left Title
                        th(scope='col').text-left Number of groups
                tbody#topn-low-group


        .container.col-8.border.border-warning.mt-4
            h2.my-4 Top 3 Titles with History Analytics



            table.table.table-dark
                caption#topn-longest-history-caption.text-warning Top 3 Titles with longest history
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Duration of history
                tbody#topn-longest-history




            table.table.table-dark
                caption#topn-shortest-history-caption.text-warning Top 3 Titles with shortest history
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Duration of history
                tbody#topn-shortest-history


        .container.col-8.mt-4.border.border-warning

            .checkbox.mt-4.ml-4
                label
                    input#switchBtn(type='checkbox', checked='', data-toggle='toggle', data-on='By Year and User Type', data-off='By User Type', data-onstyle='success', data-offstyle='info')



            canvas#overBarChart(width='400', height='400')
            canvas#overPieChart(width='400', height='400')


